/* Home */
.intro-title{
    text-align: center;
    margin-top: 0px;
    font-family: "Chat-Bold-07-01";
    font-size: 40px;
    margin-left: 13px;
}
.splash-logo {
  background-image: var(--app-logo);
  width: 100%;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: -80px;
  position: absolute;
  top: 150px;
  left: 50%;
  z-index: -100;
  transform: translate(-50%, -50%);
}
.promo-image {
    background-image: var(--promo-image);
    width: 100%;
    height: 20.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Marquee {
    overflow-x: hidden;
    width: 80%;
}
.MarqueeContent {
    color: var(--actions-color);
    white-space: nowrap;
}
.play-button {
    width: 15rem;
    margin-bottom: 2rem;
    position: fixed;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.intro-container{
    background-color: #15130f;
    width: 1390px;
    height: 750px;
    border: 0.5px solid #675701;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 550px;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden !important;
}
.home-section{

}

.intro-wrapper{
    display: flex;
    margin-left: 414px;
    margin-right: 700px;
    width: 60%;
    margin-top: 30px;
    font-size: 28px;

}

.intro-subtitle{
    color: #d77b3b;
    margin-bottom: 13px;
}
.intro-subtitle-2{
    margin-left: -150px;
    color: #d77b3b;
    margin-bottom: 13px;
    margin-top: 65px;
}
.intro-text{
    text-align: left;
}
.intro-text-2{
    margin-left: -150px;
}
.intro-subtitle-3{
    margin-left: -150px;
    color: #d77b3b;
    margin-top: 57px;
}
.intro-text-3{
    text-align: right;
    position: fixed;
    margin-left: -50px;
}
.border-bottom{
    height: 30px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #61481f;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
    gap: 15%;
    margin-left: 79px;
    margin-top: 40px;
}
.column{
    height: 46px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}
.metamask-image{
    background-image: var(--metamask);
    width: 100%;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 112px;

    /* border: 1px solid #000000; */

}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.swing:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}



.metamask-image:hover{

}
.firecape{
    background-image: var(--firecape);
    width: 100%;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 13px;
    margin-left: 20px;
    /* border: 1px solid #000000; */

}
.key{
    background-image: var(--key);
    width: 100%;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 13px;
    /* border: 1px solid #000000; */

}

.yellow-background{
    width: 50%;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: var(--yellow);
    position: relative;
    top: 0;
    margin-left: 100px;
    margin-bottom: 70px;
    left: 0;
    /* border: 1px solid #000000; */
}
.yellow-background-2{
    width: 40%;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: var(--yellow);
    margin-left: 20px;
}
.yellow-background-3{
    width: 40%;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: var(--yellow);
}

@media (max-width: 600px) {
    .play-button {
        width: 15rem;
        margin-bottom: 2rem;
    }
}
@media (max-width: 1400px){
    .intro-container{
        /* background-image: var(--pattern); */
        background-color: #15130f;
        width: 1225px;
        height: 750px;
        border: 1px solid #675701;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 550px;
        position: absolute;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .intro-wrapper{
        display: flex;
        margin-left: 321px;
        margin-right: 700px;
        width: 60%;
        margin-top: 30px;
        font-size: 28px;
    }
    .yellow-background{
        margin-left: 90px;
    }
    .metamask-image{
        margin-left: -6px;
    }
    .yellow-background-2{
        margin-left: 9px;
    }
    .firecape{
        margin-left: 9px;
    }
    .intro-text-3{
        margin-left: -75px;
    }

}

@media (max-width: 1215px) {
    .intro-container{
        /* background-image: var(--pattern); */
        background-color: #15130f;
        width: 1175px;
        height: 750px;
        border: 1px solid #675701;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 550px;
        position: absolute;
        overflow-y: hidden;
        overflow-x: hidden;
    
    }
    .intro-wrapper{
        display: flex;
        margin-left: 295px;
        margin-right: 700px;
        width: 60%;
        margin-top: 30px;
        font-size: 28px;
    }
    .row{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, [col-start] 1fr);
        gap: 20%;
        margin-left: 60px;
        margin-top: 40px;
    }
    .yellow-background-3{
        width: 46%;
    }
    .yellow-background-2{
        width: 47%;
    }
    .intro-subtitle-2{
        margin-left: -120px;
    }
    .intro-text-2{
        margin-left: -120px;
    }
    .play-button{
        top: 600px;
    }
    .intro-text-3{
        margin-left: -99px;
    }
}

@media (max-width: 1191px) {
    .intro-container{
        /* background-image: var(--pattern); */
        background-color: #15130f;
        width: 1060px;
        height: 750px;
        border: 1px solid #675701;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 550px;
        position: absolute;
        overflow-y: hidden;
        overflow-x: hidden;
    
    }
    .intro-wrapper{
        display: flex;
        margin-left: 244px;
        margin-right: 700px;
        width: 60%;
        margin-top: 30px;
        font-size: 28px;
    }
    .row{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, [col-start] 1fr);
        gap: 20%;
        margin-left: 29px;
        margin-top: 40px;
    }
    .metamask-image{
        margin-left: -50px;
    }
    .yellow-background{
        margin-left: 50px;
    }
    .yellow-background-2{
        width: 70%;
    }
    .yellow-background-3{
        width: 50%;
    }
    .intro-subtitle-2{
        margin-left: -50px;
    }
    .intro-text-2{
        margin-left: -50px;
    }
}
@media (max-width: 1100px) {
    .intro-container{
        /* background-image: var(--pattern); */
        width: 960px;
    
    }
    .intro-wrapper{
        display: flex;
        margin-left: 193px;
        margin-right: 700px;
        width: 60%;
        margin-top: 30px;
        font-size: 28px;
    }
    .yellow-background{
        width: 60%;
        height: 110px;
        top: 0;
        left: 0;
    }
    .yellow-background-2{
        width: 80%;
    }
    .yellow-background-3{
        width: 53%;
    }
}
@media (max-width: 999px) {
    .intro-container{
        /* background-image: var(--pattern); */
        width: 910px;
    
    }
    .intro-wrapper{
        display: flex;
        margin-left: 153px;
        margin-right: 700px;
        width: 60%;
        margin-top: 30px;
        font-size: 28px;
    }
    .yellow-background-3{
        width: 56%;
    }
}

@media (max-width: 978px) {
    .intro-container{
        /* background-image: var(--pattern); */
        background-color: #15130f;
        width: 850px;
        height: 750px;
        border: 1px solid #675701;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 550px;
        position: absolute;
        overflow-y: hidden;
        overflow-x: hidden;
    
    }
    .intro-wrapper{
        display: flex;
        margin-left: 170px;
        margin-right: 700px;
        width: 60%;
        margin-top: 30px;
        font-size: 26.3px;
    }
    .yellow-background{
        width: 70%;
    }
    .yellow-background-3{
        width: 60%;
    }
    .play-button{
        top: 650px;
    }
}
@media (max-width: 886px) {
    .intro-container{
        /* background-image: var(--pattern); */
        width: 710px;
    
    }
    .intro-wrapper{
        display: flex;
        margin-left: 139px;
        margin-right: 700px;
        width: 60%;
        margin-top: 30px;
        font-size: 28px;
    }
    .yellow-background{
        width: 80%;
        height: 110px;
        top: 0;
        left: 0;
    }
    .yellow-background-3{
        width: 70%;
    }
    .intro-text-2{
        margin-top: 48px;
    }
    .intro-text-3{
        margin-left: -120px;
        margin-top: 55px;
    }
}
@media (max-width: 758px) {
    .intro-container{
        /* background-image: var(--pattern); */
        width: 610px;
    
    }
    .intro-wrapper{
        display: flex;
        margin-left: 111px;
        margin-right: 700px;
        width: 60%;
        margin-top: 30px;
        font-size: 28px;
    }
    .yellow-background{
        width: 91%;
        height: 110px;
        top: 0;
        left: 0;
        margin-left: 3px;
    }
    .metamask-image{
        margin-left: -99px;
    }
    .yellow-background-2{
        width: 90%;
        margin-left: -15px;
    }
    .firecape{
        margin-left: -15px;
    }
    .yellow-background-3{
        width: 85%;
        margin-left: -33px;
    }
    .key{
        margin-left: -33px;
    }
    .row{
        margin-left: 5px;
    }
    .play-button{
        top: 686px;
    }
}
@media (max-width: 646px) {
    .intro-container{
        /* background-image: var(--pattern); */
        width: 470px;
    
    }
    .intro-wrapper{
        display: flex;
        margin-left: 89px;
        margin-right: 700px;
        width: 60%;
        margin-top: 30px;
        font-size: 28px;
    }
    .yellow-background{
        width: 113%;
        height: 110px;
        top: 0;
        left: 0;
    }
    .yellow-background-2{
        width: 120%;
    }
    .yellow-background-3{
        width: 110%;
    }
    .play-button{
        top: 700px;
        width: 12rem;
    }
    .intro-text{
        font-size: 16px;
    }
    .intro-text-2{
        font-size: 16px;
        margin-top: 43px;
    }
    .intro-text-3{
        font-size: 16px;
        margin-top: 74px;
        margin-left: -80px;
    }
    .intro-subtitle-2{
        margin-top: 70px;

    }

    .intro-subtitle-3{
        margin-top: 70px;
        margin-right: -90px;
    }
}